.question-text {
  font-size: 3rem; }

.question-box {
  padding: 1rem;
  margin: 1rem; }

.answer-grid {
  padding: 5px; }
  .answer-grid > * > button {
    margin: 2px; }
    .answer-grid > * > button > label {
      font-size: 1.1rem; }
    .answer-grid > * > button:hover {
      box-shadow: inset 0 0 0 2px #78aeed; }
    .answer-grid > * > button.correct {
      box-shadow: inset 0 0 0 2px #8ff0a4;
      background-color: #26a269; }
      .answer-grid > * > button.correct:hover {
        box-shadow: inset 0 0 0 2px #8ff0a4; }
    .answer-grid > * > button.incorrect {
      box-shadow: inset 0 0 0 2px #ff7b63;
      background-color: #c01c28; }
      .answer-grid > * > button.incorrect:hover {
        box-shadow: inset 0 0 0 2px #ff7b63; }

.scoreText.correct {
  color: #26a269; }

.scoreText.incorrect {
  color: #c01c28; }
